$navbar-text-color: #ff6060;
$navbar-logo-size: 150px;
$navbar-logo-size-mobile: 120px;
$navbar-text-size: 1.3rem;
$navbar-text-size-mobile: 1rem;
$error-text-color: #ff6060;
$footer-height: 110px;
$footer-height-mobile: 140px;
$footer-background-color: black;
$footer-logo-size: 90px;
$footer-logo-size-mobile: 100px;
$footer-text-size: 1rem;
$footer-text-size-mobile: 0.7rem;
$footer-text-color: white;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  @media (max-width: 600px) {
    margin: 20px;
  }

  &__logo {
    width: $navbar-logo-size;
    height: auto;
    @media (max-width: 600px) {
      width: $navbar-logo-size-mobile;
    }
  }

  &__link {
    margin: 20px;
    text-decoration: none;
    color: $navbar-text-color;
    font-size: $navbar-text-size;
    @media (max-width: 600px) {
      margin: 10px;
      font-size: $navbar-text-size-mobile;
    }

    &.active {
      text-decoration: underline;
    }
  }

  
}

.error {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: auto;

  &__title {
    margin: 0;
    padding: 0;
    line-height: 0.8;
    font-weight: 700;
    font-size: 12rem;
    color: $error-text-color;

    @media (max-width: 600px) {
      font-size: 6rem;
    }
  }
  
  &__message {
    margin: 0;
    padding: 0;
    font-size: 2.2rem;
    color: $error-text-color;

    @media (max-width: 600px) {
      font-size: 1.1rem;
      width: 60%;
      text-align: center;
    }
  }
  
  &__backToHome {
    font-size: 1rem;
    color: $error-text-color;

    @media (max-width: 600px) {
      font-size: 0.8rem;
    }
  }
}



.footer {
  width: 100%;
  height: $footer-height;
  background-color: $footer-background-color;
  display: flex;
  justify-content: center;
  @media (max-width: 600px) {
    height: $footer-height-mobile;
  }

  &__elements {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 600px) {
      justify-content: center;
    }
  }

  &__logo {
    width: $footer-logo-size;
    margin-top: 20px;
    height: auto;
  }

  &__copyright {
    color: $footer-text-color;
    font-size: $footer-text-size;
    @media (max-width: 600px) {
      width: 60%;
      text-align: center;
      font-size: $footer-text-size-mobile;
    }
  }
}
